<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="http://fonts.cdnfonts.com/css/renogare" rel="stylesheet">
    
    <link rel="stylesheet" href="style/style.css">
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.css' rel='stylesheet'>
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
    
    <script src="./js/map.js" defer></script>
    <script src="./js/modal.js" defer></script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="leaflet-heat.js"></script>
    <link href="http://fonts.cdnfonts.com/css/renogare" rel="stylesheet">

    <title> Audeci Map </title>
</head>

<body>

    <button id="btn_showModal">?</button>

    <form id="form_map" class="side_form">

        <h1> Audeci </h1>

        <ul>
            <li>
                <label for="data_select">Choose metric</label>
                <select id="data_select" name="data-select">
                    <option value="noise">    Noise        </option>
                    <option value="temp">     Temperature  </option>
                    <option value="air_quality">      Air Quality  </option>
                    <option value="pressure"> Air Pressure </option>
                    <option value="humidity"> Humidity     </option>
                </select>
            </li>
            <li>
                <label for="start-date">Start Date</label>
                <input type="date" id="start_date" name="start-date">
            </li>
            <li>
                <label for="end-date">End Date</label>
                <input type="date" id="end_date" name="end-date">
            </li>
            <li>
                <label for="start-time">Start Time</label>
                <input type="time" id="start_time" name="start-time">
            </li>
            <li>
                <label for="end-time">End Time</label>
                <input type="time" id="end_time" name="end-time">
            </li>
            <li>
                <button id="form_button_submit" class="submit form_button" type="button" value="Submit">Submit</button>
            </li>
            <li>
                <a href="/register">
                    <button id="form_button_register" class="register form_button" type="button">Register</button>
                </a>
            </li>
        </ul>

    </form>

    <div id="map"></div>

    <div id="help_modal_wrapper">
        <div id="help_modal">
            <h3>What does Audeci Do?</h3>
            <p>
                Audeci is a network of sensors that passively collects data such as noise levels and temperature readings.
                With the Audeci map, you can see the readings of a given area
                <br>
                <br>
                Use the search box at the top right of the screen to search for a location, and tweak variables in the panel on the left to fine tune your search.
            </p>
        </div>
    </div>
</body>

</html>