<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src='https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.css' rel='stylesheet'>
    <script
        src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
    <title> Audeci Register </title>

    <link href="http://fonts.cdnfonts.com/css/renogare" rel="stylesheet">
    <link rel="stylesheet" href="./style/style.css">

    <script src="./js/register.js" defer></script>
</head>

<body>
    <form class="side_form" method='post' action='/register/new'>
        <ul>
            <li>
                <h1>Register your Audeci Unit</h1>
            </li>
            <li>
                <label for="node_id">Once the marker pin is as close to the node location as possible, input your unique Audeci node ID here: </label>
            </li>
            <li>
                <input type="text" name="node_id">
            </li>
            <li>
                <button id="form_button_submit" class="submit form_button" type="submit" value="Submit" name="submit-button">Submit</button>
            </li>
        </ul>
    </form>
    <div id="map"></div>
</body>

</html>